.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  height: 75vh;
  width: 50vw;
  border-radius: 20px;
}

.weather {
  display: grid;
  height: 75vh;
  width: 50vw;
  border-radius: 20px;
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 5px;
  background-color: aliceblue;
  justify-items: center;
}
.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: pink;
  width: 90%;
}

.weather-details-item {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
